.navbar {
    background-color: rgb(0, 0, 0, 0.4);
}

.navbar-nav {
    justify-content: center !important;
}

.navbar:before {
    content: "";
    background: linear-gradient(to right, transparent 0%, #eec969 50%, transparent 100%);
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
}

.navbar:after {
    content: "";
    background: linear-gradient(to right, transparent 0%, #eec969 50%, transparent 100%);
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

body {
    background-image: url("../img/Site/Background.png");
    background-size: 30pt;
    color: white;
    font-family: 'ReggaeOne';
}

h1 {
    font-family: 'Triforce';
}

a {
    color: gold;
}

#Canvas {
    width: 100%;
    height: 100%;
}
