@{
    ViewData["Title"] = "Game";
}

<div class="text-center">
    <h1 class="display-4">The Legend of Selda</h1>
    <p>Play the game</p>
    <canvas id="Canvas"></canvas>
</div>

@section scripts
{
<script src="~/js/babylon.js"></script>
<script src="~/js/pep.js"></script>

<script src="~/js/Game.js"></script>
<script src="~/js/Input.js"></script>
<script src="~/js/Stage.js"></script>
<script src="~/js/Sprite.js"></script>
<script src="~/js/Player.js"></script>
<script src="~/js/Camera.js"></script>
}
